<!-- Services Section -->
    <section id="what">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What</h2>
                    <h3 class="section-subheading text-muted">Teaching persona</h3>
                    <p class="text-muted">I will describe here...</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-code-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Computer Science</h4>
                    <p class="text-muted">Used computers my whole life. Started studies in University of Helsinki in 2015, graduated 2020.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Free time</h4>
                    <p class="text-muted">I spend my free time on computers as well, either gaming or solving puzzles.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Teaching</h4>
                    <p class="text-muted">I started teaching in 2016 at University of Helsinki, part time. Full time in 2020 at Centria University of Applied Sciences.</p>
                </div>
            </div>
        </div>
    </section>