<!-- Services Section -->
    <section id="what">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Mitä</h2>
                    <h3 class="section-subheading text-muted">Opettajan käyttötieto</h3>
                    <h4 class="section-subheading text-muted">Ihmiskäsitys</h4>
                    <p class="text-muted">Oma ihmiskäsitykseni on behavioristinen, mutta osittain myös humanistinen. Suuri osa ihmisen käyttäytymisestä on opittua erilaisten assosiaatioiden ja mielleyhtymien kautta. Mielestäni ihminen on hedonistinen eläin, eli etsii mielihyvää ja välttää mielipahaa. Toisaalta humanistisena näkökulmana haluaisin uskoa sivistyksen ja ihmisten kunnioittamiseen, jota vastaan hedonistinen olemus voi ajoittain riidellä. </p>
                    <h4 class="section-subheading text-muted">Tietokäsitys</h4>
                    <p class="text-muted">Tieto on opittua ja koettua. Opimme jatkuvasti toisilta ihmisiltä, mutta myös kaikesta ympärillämme. Perinteinen "opettaja kaataa kauhalla opiskelijan ämpäriin" on aikansa elänyt, ja tietoa on omaksuttavissa paljon helpommin itse tekemällä, kokemalla ja tietoa keräämällä. Opettaja ei ole ainoa tiedon lähde eikä auktoriteetti, vaan ennemminkin suunnannäyttäjä.</p>
                    <h4 class="section-subheading text-muted">Oppimiskäsitys</h4>
                    <p class="text-muted">Oppimiskäsityksessä pyrin kognitiiviseen toteutustapaan. Kurssini perustuvat tarkoin laadittuihin materiaaleihin ja tehtäviin, jotka tukevat oppimispolkua alkeista ylöspäin. Kurssit eivät ole suora polku alusta loppuun, vaan sisältöön kuuluu myös kertausta. Kurssien arvostelu on tehtäväperustaista, jolloin opiskelija saa onnistumisen riemun lisäksi ansaitsemansa arvosanan tekemällään työllä.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-code-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tietojenkäsittely</h4>
                    <p class="text-muted">Olen käyttänyt erilaisia tietokoneita koko ikiäni. Aloitin opinnot Helsingin yliopistolla 2015, valmistuin 2020.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Vapaa-aika</h4>
                    <p class="text-muted">Vapaa-aikani vietän yhtälailla tietokoneen ääressä, pelaamassa videopelejä tai sudokuja ratkoen.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Opetus</h4>
                    <p class="text-muted">Aloitin urani osa-aikaisena Helsingin yliopistolla 2016. Vuodesta 2020 lähtien täyspäiväisenä Centria-ammattikorkeakoulussa.</p>
                </div>
            </div>
        </div>
    </section>