<!-- About Section -->
<section id="when" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Milloin</h2>
                <h3 class="section-subheading text-muted">Työhistoriani pähkinänkuoressa.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/kone.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2004-2005</h4>
                                <h4 class="subheading">Kouluavustaja</h4>
                                <h4 class="subheading">Hatanpään yläaste</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Kouluavustaja maahanmuuttajanuorille.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/kone.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2005-2015</h4>
                                <h4 class="subheading">Ravintolatyöntekijä</h4>
                                <h4 class="subheading">Monta paikkaa ympäri Suomea</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Kaikkea portsarista ravintolapäällikköön</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/kone.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2016 & 2017</h4>
                                <h4 class="subheading">IT Trainee</h4>
                                <h4 class="subheading">Rovio Entertainment Ltd</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Järjestelmäylläpitoa ja -hallintaa, asennuspalveluita, asiakaspalvelua.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/kone.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2017</h4>
                                <h4 class="subheading">Junior Software Engineer</h4>
                                <h4 class="subheading">Comptel Corporation (Nokia Networks)</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Shell-ohjelmointia, Robot Framework, Selenium, Mercurial, testiautomaatiota</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/kone.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2018-2019</h4>
                                <h4 class="subheading">Softare Specialist</h4>
                                <h4 class="subheading">CGI Suomi Oy</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">DevOps-asiantuntija: Linux, Azure, AWS, Ansible. Tärkeimpiä asiakkaita Traficom (Väylä, Liikennevirasto), Helsinkin kaupunki ja HSL.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/kone.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2016-2019</h4>
                                <h4 class="subheading">Tuntiopettaja</h4>
                                <h4 class="subheading">Helsingin yliopisto</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Opetin esseekirjoittamista, Javaa, SQL-tietokantoja, Shell-ohjelmointia, ohjelmistotuotantoa, Scrumia, peliohjelmoinnin perusteita, pelimoottoriarkkitehtuuria, peliprojektien tekoa, AWS:n perusteita, Java-palvelinsovelluksia, Pythonia ja SQL-web-ohjelmointia.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/kone.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2019</h4>
                                <h4 class="subheading">Tutkimusavustaja</h4>
                                <h4 class="subheading">Helsingin yliopisto</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Järjestelmäarkkitehtuuria ja suunnittelua, tietosuojaa ja -turvaa, opinnäytetyö.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/kone.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2020-</h4>
                                <h4 class="subheading">Lehtori</h4>
                                <h4 class="subheading">Centria-ammattikorkeakoulu</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Opetan esimerkiksi ohjelmoinnin perusteita C#-kielellä, SQL-tietokantoja, algoritmejä ja tietorakenteita, full stack -kehitystä JavaScriptillä, tietosuojaa ja esineiden internet -palvelimia REST-tekniikoilla.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>